<div class="container">
  <div class="row">
    <div class="mt-5">
      <h3 class="text mb-3">{{ speciality }}手術清單</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">序號</th>
            <th scope="col">病歷號碼</th>
            <th scope="col">病患姓名</th>
            <th scope="col">科別</th>
            <th scope="col">執刀醫師</th>
            <th scope="col">麻醉醫師</th>
            <th scope="col">刷手護理師</th>
            <th scope="col">術式</th>
            <th scope="col">手術開始</th>
            <th scope="col">手術結束</th>
            <th scope="col">刪除</th>
            <th scope="col">修改</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let surgery of surgeryList
                | paginate
                  : { itemsPerPage: itemsPerPage, currentPage: currentPage };
              let i = index
            "
          >
            <th scope="row">{{ i + 1 + (currentPage - 1) * itemsPerPage }}</th>
            <td>{{ surgery.patientId }}</td>
            <td>{{ surgery.patientName }}</td>
            <td>{{ surgery.speciality }}</td>
            <td>{{ surgery.doctor }}</td>
            <td>{{ surgery.Anesthesiologist }}</td>
            <td>{{ surgery.ScrubNurse }}</td>
            <td>{{ surgery.procedure }}</td>
            <td>{{ surgery.StartTime }}</td>
            <td>{{ surgery.EndTime }}</td>
            <td><i class="bi bi-trash-fill" (click)="deleteSurgery(i)"></i></td>
            <td>
              <i
                class="bi bi-pencil-fill"
                [routerLink]="['/editlist', surgery.patientId]"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- 分頁控制 -->
      <pagination-controls
        (pageChange)="currentPage = $event"
        previousLabel="上一頁"
        nextLabel="下一頁"
        [maxSize]="5"
        [autoHide]="true"
        class="text"
      ></pagination-controls>
    </div>
  </div>
</div>
