<div class="text-center ami">
  <h1 class="test">刀表查詢首頁</h1>
  <div class="line-container">
    <div class="line" *ngFor="let i of [].constructor(20)"></div>
  </div>
</div>
<!-- <div class="text-center ami">
  <h1 class="test">刀表查詢首頁</h1>
  <div class="line-container">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div> -->
